{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="{% static 'flags/style.css'%}">
  <link rel="icon" href="{% static 'flags/favicon.ico' %}">
  <title>Do you know these flags?</title>
</head>
<body>
  <div id="game">
    <div id="scoreboard">
      <div id="correct-score-box" class="correct">
        <p>Correct: <span id="correct-score">0</span></p>
      </div>
      <div id="incorrect-score-box" class="incorrect">
        <p>Incorrect: <span id="incorrect-score">0</span></p>
      </div>
    </div>
    <img id="flag-image" src="" alt="Guess!">
    <div id="prompt" class="neutral">
      <p id="prompt-text">Which country's flag is this?</p>
    </div>
    <div id="buttons">
      <button id="next" style="display: none">Next Flag</button>
      <button class="option"></button>
      <button class="option"></button>
      <button class="option"></button>
      <button class="option"></button>
    </div>
  </div>
  <script src="{% static 'flags/guess.js' %}"></script>
</body>
</html>